APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 42.194.213.102DATABASE = bappdemmoUSERNAME = bappdemmoPASSWORD = bb2SGYkxHTmX8PjjHOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX=bapp_[LANG]default_lang = zh-cn